.boxWrapper {
    background: rgba(255, 255, 255, 0.50);
    border-radius: 20px;
    padding: 10px;
    max-width: 425px;
}
.box {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 20px 20px;
    color: #000;
    border: 1px solid rgba(83, 53, 53, 0.18);
    display: flex;
    height: 160px;
    /* justify-content: space-between; */
}
.boxImg,
.boxCondition {
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxCondition {
    flex-direction: column;
    border-right: 1px solid #d3d3d3;
    padding-right: 30px;
    flex: 0 0 auto;
}
.boxImg {
    margin-right: 15px;
}
.boxConditionCity {
    font-weight: normal;
    color: gray;
    font-size: 24px;
    text-align: center;
}
.boxConditionTempc{
    font-size: 42px;
    font-weight: 700;
    display: flex;
    line-height: 1;
    text-align: center;
}
.boxConditionTempc::after {
    content: '°C';
    font-size: 20px;
    margin-left: 5px;
}
.boxDescriptions{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.boxDescritionTitle{
    font-size: 14px;
    margin-bottom: 5px;
}
.boxDescritionValue {
    color: gray;
    font-size: 16px;
}
