.boxWrapper.daysCondition {
  max-width: 350px;
  width: 100%;
  background: linear-gradient(90deg, rgba(1, 120, 255, 1) 0%, rgba(28, 145, 255, 1) 50%, rgba(50, 164, 255, 1) 100%);
}
.boxWrapper.daysCondition .box{
  flex-direction: column;
  height: unset;
  background: linear-gradient(90deg, rgba(1, 120, 255, 1) 0%, rgba(28, 145, 255, 1) 50%, rgba(50, 164, 255, 1) 100%);
}
.boxDays {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dayTempMin,
.dayTempMax {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}
.dayTempMin::after,
.dayTempMax::after {
  content: '°C';
  font-size: 11px;
  margin-left: 2px;
}
.dayTempMin,
.dayTitle {
  color: #fff;
}
.dayTempMin {
  font-size: 12px;
  font-weight: normal;
  margin-top: 3px;
}
@media (max-width: 1250px) {
  .boxWrapper.daysCondition {
    margin-top: 40px;
    margin-bottom: 150px;
  }
}
